In [1]:
import requests
import pandas as pd

In [2]:
key = "**********************"

In [3]:
sports_df = pd.DataFrame(requests.get(f"https://api.the-odds-api.com/v4/sports/?apiKey={key}").json())
sports_df

,key,group,title,description,active,has_outrights
0,americanfootball_ncaaf,American Football,NCAAF,US College Football,True,False
1,americanfootball_ncaaf_championship_winner,American Football,NCAAF Championship Winner,US College Football Championship Winner,True,True
2,americanfootball_nfl_super_bowl_winner,American Football,NFL Super Bowl Winner,Super Bowl Winner 2024/2025,True,True
3,aussierules_afl,Aussie Rules,AFL,Aussie Football,True,False
4,baseball_mlb_preseason,Baseball,MLB Preseason,Major League Baseball,True,False
...,...,...,...,...,...,...
61,soccer_uefa_champs_league,Soccer,UEFA Champions League,European Champions League,True,False
62,soccer_uefa_euro_qualification,Soccer,UEFA Euro Qualification,European Championship Qualification,True,False
63,soccer_uefa_europa_conference_league,Soccer,UEFA Europa Conference League,UEFA Europa Conference League,True,False
64,soccer_uefa_europa_league,Soccer,UEFA Europa League,European Europa League,True,False
65,soccer_usa_mls,Soccer,MLS,Major League Soccer,True,False

In [9]:
sports_df[sports_df["group"].str.contains("Basketb")]

,key,group,title,description,active,has_outrights
7,basketball_euroleague,Basketball,Basketball Euroleague,Basketball Euroleague,True,False
8,basketball_nba,Basketball,NBA,US Basketball,True,False
9,basketball_nba_championship_winner,Basketball,NBA Championship Winner,Championship Winner 2023/2024,True,True
10,basketball_ncaab,Basketball,NCAAB,US College Basketball,True,False
11,basketball_ncaab_championship_winner,Basketball,NCAAB Championship Winner,US College Basketball Championship Winner,True,True

In [5]:
regions = "us2"
sport = "basketball_nba"
markets = "h2h"
bookmaker = "draftkings"
odds_format = "american"

In [6]:
odds_df = pd.DataFrame(requests.get(f"https://api.the-odds-api.com//v4/sports/{sport}/odds/?apiKey={key}&regions={regions}&markets={markets}&bookmakers={bookmaker}&oddsFormat={odds_format}").json())

In [7]:
bookmakers_df = pd.concat(list(odds_df["bookmakers"].apply(lambda x: pd.DataFrame(x))))
markets_df = pd.concat(list(bookmakers_df["markets"].apply(lambda x: pd.DataFrame(x))))
outcomes_df = pd.concat(list(markets_df["outcomes"].apply(lambda x: pd.DataFrame(x))))

In [8]:
outcomes_df

                    name  price
0      Charlotte Hornets    500
1        Milwaukee Bucks   -700
0          Orlando Magic   -250
1              Utah Jazz    205
0          Atlanta Hawks    102
1          Brooklyn Nets   -122
0  Golden State Warriors   -185
1        New York Knicks    154
0  Oklahoma City Thunder   -625
1      San Antonio Spurs    455
0        Houston Rockets    295
1           Phoenix Suns   -375
0         Denver Nuggets   -205
1             Miami Heat    170
0     Los Angeles Lakers   -395
1     Washington Wizards    310